body{
  background-color:rgb(217, 227, 152);
  display:flex;
  justify-content:center;
  align-items:center;
}

.box{
  display:flex;
  background-color:black;
  color:white;
  display:flex;
  margin-top:250px;
  height:300px;
  flex-direction:column;
  width:350px;
}
#heading{
  text-align:center;
}
.sel{
  display:flex;
  margin-top:20px;
}
.leftbox,.rightbox{
  display:flex;
  flex-direction:column;
  justify-content:space-between;

}
h2{
  color:rgb(174, 118, 49);
}
select,input{
  background-color:orangered;
  width:80%;
  height:30px;
  margin-left:15px;
  margin-bottom:15px;
  border-radius:5px;
}

input{
  background-color:grey;
  width:75%;
}

.butdiv{
  margin-top:40px;
  display:flex;
  justify-content:center;
}
button{
  height:30px;
  width:40%;
  font-size:20px;
  background-color:rgb(174, 118, 49);
  border-radius:5px;
}
